/** Main css file for website design **/

body {
  margin: 0;
  max-width: auto;
  min-width: 605px;
  font-family: Trebuchet MS;
  background-color: LightGray;
}
header{
   background-color: #232323;
}
h1{
  color: white;
      font-size: 1.5em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
          font-weight: bold;
}
a.btn-primary{
  color:  White;
  background-color: #5F9EA0;
  border-color: lightgray;
  --bs-btn-border-color: #5F9EA0;
  --bs-btn-hover-bg: #324345;
  --bs-btn-hover-border-color: #324345;

}

h2{
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
p.video{
  color: black;
  text-align: center;


}

h3{
  color: black;
  display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h4{

}
h5{
  color: white;
  display: block;
font-size: 0.83em;
margin-block-start: 1.67em;
margin-block-end: 1.67em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
}
h6{
  color: black;
  font-size: 20;
}
hr{
   max-width:1000px;
   min-width:600px;
}
.topnav {
  overflow: hidden;
  background-color: #232323;
  padding: 18px 0px;
  width: 331px;
  max-height:1000px;
  max-width:1000px;
  min-width:600px;
  align: left;
}

   .topnav a {

     color: #f2f2f2;
     text-align: center;
     padding: 8px 18px;
     text-decoration: none;
     font-size: 14px;
     border-radius: 3px;
   }

   .topnav a:hover {
  background-color: #1c1c1c;
  color: white;
}

   .topnav a.active {
     background-color: #2b2b2b;
     color: white;
   }

   div.Titles{
     padding-top: 2px;
     max-height:1000px;
     max-width:1000px;
     text-align: left;
     align-content: middle;
   }

   footer{
  color: #f2f2f2;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #232323;
  text-align: center;
  max-height:1000px;
  min-width:600px;
  bottom: 0;

   }
button.accordion-button{
  color: black;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.15);

}
.accordion {
     --bs-accordion-active-color: #324345;
     --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgb(13 227 253 / 25%);
}
   img.method{
    width: 20%;
    height: 20%;
    align-content: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.79);
   }
   iframe{
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
     border-radius: 1.5px;
   }

   p{
   color: black;
   max-height:1000px;
   min-width:500px;
   max-width:1000px;
   text-align: left;
   }
   p.footer{
     color: white;
     max-height:1000px;
     min-width:600px;
     max-width:10000px;
     text-align: center;
   }
   p.CVtitle{
   color: black;
   max-height:1000px;
   min-width:500px;
   max-width:1000px;
   text-align: left;
   font-weight: bold;
   }

   hr.CVline{
   color: black;
   max-width:1000px;
   min-width:600px;
   border: 10px solid green;
   }


   .row {
     display: flex;
     max-width: 600px;
     min-width: 200px;

   }
   .column {
     flex: 33.33%;
   }

     img:hover {
       filter:opacity(15%) blur(0.5px);
   }
   div.gallery {

     margin-top: 20px;
     margin-bottom: 20px;
     border: 1px;
     max-width:1000px;
     min-width:600px;


   }

   object.CV {
     max-width:600px;
     min-width:600px;
     max-height:900px;
     min-height:900px;
   }

   div.gallery img:hover {
filter:opacity(40%) blur(1px);
   }

   div.gallery img {
  width: 100%;
  min-width:600px;
  height: 100%;
  align-content: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}
div.smallgallery {
  margin: 5px;
  border: 1px solid #ccc;
  display: inline-block;
  width: 300px;


}

div.smallgallery:hover {
  border: 0px solid #777;
}

div.smallgallery img {
  width: 100%;
  height: auto;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

   div.desc {
     padding: 15px;
     text-align: center;
   }
   div.socials
   {
   background-color: #232323;
   }

   div.previewgallery {
     margin: 5px;
     border: 1px solid #ccc;


     display:inline-block;
     width: 300px;


   }

   div.previewgallery:hover {
     border: 0px solid #777;
   }

   div.previewgallery img {
     width: 100%;
     height: auto;
     border-radius: 2px;
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
   }
   div.Gamesrecently{
     font-stretch: expanded;
     font-family: monospace;
     font-weight: bold;
     font-size: 18px;

   }
   ul
   {
     text-align: center;
     list-style: none;
   }
   li
   {

     font-weight: lighter;
     font-style:italic;
     font-size: 14px;
     font-stretch: semi-condensed;
     text-transform: uppercase;
     letter-spacing: 0.00001px;
   }
   li:not(:last-child) {
    margin-bottom: 0.1px;
}
   h3{
     text-align: center;
   }
   .loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #808080;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}
